!/Prove passate/Simulazione altra/
!/Prove passate/Simulazione altra/Esercizio 1.py
!/Prove passate/Simulazione altra/data2.txt
!/Prove passate/Simulazione 21-22/data.txt
!/Prove passate/Simulazione altra/Esercizio 2.py
!/Prove passate/Simulazione altra/Esercizio 3.py
